.bt-next, .bt-prev{
    background-color: #969696;
    width: 25px;
    height: 35px;
    display: none;
}

.bt-prev > img{
    width: 100%;
    height: 100%;
}

.bt-next > img{
    width: 100%;
    height: 100%;
}
